<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.a1uz.a1uzdirector">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/uz_launcher_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemess">
        <activity android:name=".Activity.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Main_Activity"
            android:configChanges="orientation" />
        <activity android:name=".Activity.TablesActivitys.BankTables.AccountsTable" android:configChanges="orientation"
            />
        <activity android:name=".Activity.TablesActivitys.BankTables.BankBankReport" android:configChanges="orientation"
             />
        <activity android:name=".Activity.TablesActivitys.BankTables.BankPeriodTable" android:configChanges="orientation"
             />
        <activity android:name=".Activity.TablesActivitys.ProceedsTables.ProceedsTable"  android:configChanges="orientation"
            />
        <activity android:name=".Activity.TablesActivitys.ProceedsTables.ProceedsPeriodTable"  android:configChanges="orientation"
            />
        <activity android:name=".Helpers.DatePeriodPicker" />
        <activity android:name=".Activity.TablesActivitys.StoreTables.StoreTable"  android:configChanges="orientation"
            />
        <activity android:name=".Activity.TablesActivitys.StoreTables.StorePeriodTable"  android:configChanges="orientation"
            />
        <activity android:name=".Activity.TablesActivitys.CreditTables.CreditTable"  android:configChanges="orientation"
            />
        <activity android:name=".Activity.TablesActivitys.CreditTables.CreditSecondReport"  android:configChanges="orientation"
            />
        <activity android:name=".Activity.TablesActivitys.DebitTables.DebitTable"  android:configChanges="orientation"
            />
        <activity android:name=".Activity.TablesActivitys.DebitTables.DebitSecondReport"  android:configChanges="orientation"
            />
        <activity
            android:name=".Activity.TablesActivitys.CurrentTables.CurrentConsumptionTable"  android:configChanges="orientation"
            />
        <activity android:name=".Activity.TablesActivitys.CurrentTables.CurrentConsumptionSecondTable"  android:configChanges="orientation"
            />
        <activity android:name=".Helpers.ActionBarCustomizer" />
    </application>

</manifest>